{% extends "base.html" %}

{% load static %}
{% block cuerpo %}
    <div class="row"><!--la fila-->

    <div class= "col-sm-12 col-md-4 col-lg-4 xl-4"><!--Columna izquierda-->
        <h1>Registrar Venta</h1>
        <div class="card"><!--La tarjeta-->
            <div class="card-body">
            <form action="registrarVenta/" method="POST">{% csrf_token %}<!--Falta action-->
                <div class="form-group">
                    <input type="text" id="txtventa_c" name="txtventa_c" class="form-control"
                    placeholder="Id Venta" minlength="1" maxLenght="6" required><br>
                </div>

                <div class="form-group py-3">
                    <input type="date" id="txtfecha" name="txtfecha" class="form-control"
                    placeholder="Fecha " maxLenght="100" required><br>
                </div>

                <div class="form-group">
                    <input type="text" id="txtcliente_a" name="txtcliente_a" class="form-control"
                    placeholder="Cliente Atendido" maxLenght="100" required><br>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtvehiculo_v" name="txtvehiculo_v" class="form-control"
                    placeholder="Vehiculo Vendido" maxLenght="100" required><br>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtprecio_f" name="txtprecio_f" class="form-control"
                    placeholder="Precio Final" maxLenght="100" required><br>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtmetodo_p" name="txtmetodo_p" class="form-control"
                    placeholder="Metodo de Pago" maxLenght="100" required><br>
                </div>

                <div class="form-group py-3">
                    <button type="submit" class="btn btn-primary">Guardar Venta</button>
                </div>
            </form>
            </div>
        </div><!--La tarjeta-->
    </div><!--Columna izquierda-->


    <div class="col-sm-12 col-md-8 col-lg-8 xl-8"><!--Columna derecha-->
    <h1>Listado de Ventas</h1>
    <img class="w-50" src="{% static 'img/venta.jpg' %} " alt="pao" width="100" height="200">
    <!--La tabla-->
    <table class="table table-striped">                            
        <thead>
            <tr>
                <th scope="col">id Venta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente Atendido</th>
                <th scope="col">Vehiculo Vendido</th>
                <th scope="col">Precio Final</th>
                <th scope="col">Metodo de Pago</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in miventa %}
            <tr>
                <td>{{i.id_venta}}</td>
                <td>{{i.fecha | date:'d-m-y'}}</td>
                <td>{{i.cliente_a}}</td>
                <td>{{i.vehiculo_v}}</td>
                <td>{{i.precio_f}}</td>
                <td>{{i.metodo_p}}</td>
                <td> <a href="seleccionarVenta/{{i.id_venta}}" class="btn btn-info">Editar</a></td><!--falta-->
                <td> <a href="borrarVenta/{{i.id_venta}}" class="btn btn-danger">Borrar</a></td><!--falta-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--La tabla-->
    </div><!--Columna derecha-->
</div><!--la fila-->
{% endblock %}